body{
    background-color:grey;
    background-size: auto;
}
img{
    height:100px;
    width: 100px;
}
.scoreBoard{
    background-color:lightgray;
    height:225px;
    width: 400px;
    position:fixed;
    bottom: 467px;
    left:750px;

}
.titleScreen{
    z-index: 10000;
    background-image: url("/Users/dominicabogado/xmen/assignment7/multiplayer_game/Assets/images/league.jpg");
    background-size:100%;
    position: fixed;
    width: 100%;
    height:100%;
    text-align: center;

}
